<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043218848326-dde7u5a0o9be562ololhuc058idjlrbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043218848326-dde7u5a0o9be562ololhuc058idjlrbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043218848326-glmoq829qntqfnb00m3ie31btneb1h2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV4l6eYH8AJ80eEcQsoqk2bvPeYc7jRJk</string>
	<key>GCM_SENDER_ID</key>
	<string>1043218848326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>pokecard-tcg</string>
	<key>STORAGE_BUCKET</key>
	<string>pokecard-tcg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043218848326:ios:0b41adda0c2740ebc88847</string>
</dict>
</plist>